# App
# ==============================================================================

.env
*.log
cache
vendor
.DS_Store
wp-cli.phar
node_modules

# Public
# ==============================================================================

public/wp
public/upgrade
public/uploads/*
public/languages

# Plugins
# ==============================================================================

public/plugins/*
!public/plugins/app-*
!public/plugins/.gitkeep
