{
  extends: ["stylelint-config-recommended"],
  plugins: ["stylelint-scss"],
  rules: {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "max-nesting-depth": 3,
    "indentation": 4
  }
};
